html{
  position: relative;
}
/*style default*/
body{
  min-height: 2000px;
  font-family:'poppins', Arial, sans-serif;
  font-size: medium;
  margin-top: 68px;
}

/* style min-height review pengguna awal */

/* style min-height review pengguna akhir */

/*warna utama*/
.main-color-f{
color: #ff4400 !important;
}
/*warna utama*/
.main-color{
  background-color: #ff4400 !important;
}
/*warna utama*/
.main-color2{
  background-color: #df300097 !important;
} 

/*warna utama border*/
.border-color{
  border-color: #ff4400 !important;
}

/*warna backgroud produk*/
.bg-produk{
  background-color: #d2d0d03d !important;
} 

/*warna color tambah produk*/
.color-add{
  color: #868686 !important;
} 


/*style banner awal*/
.banner{
  height: 92vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/banner.jpg);
  background-size: cover;
  background-position:bottom 75% center;
}
/*style banner akhir*/

/*style card awal*/
.card a {
  text-decoration: none;
}

.hovered-card{
transition: 0.3s ease;
box-shadow: 0.3s ease;
border: 1px solid #ddd;
border-radius: 10px;
overflow: hidden;
}

.hovered-card:hover {
transform: scale(1.05);
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.hovered-card-service{
transition: 0.3s ease;
}

.hovered-card-service:hover {
transform: scale(1.1);
}

.hovered-social{
transition: 0.3s ease;
}

.hovered-social:hover {
transform: scale(1.2);
color: #ff4400;
}

.card-title, .card-price, .card-location, .card-rating {
  margin: 0.25rem 0 0 0; 
  color: black;
}   

.card-merk{
  margin-bottom: 0rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 0.5rem;
  color:rgb(255, 255, 255);
  background-color: rgb(255, 68, 0);
  border-radius: 0 0 1rem 0;
}

.card-title {
  font-size: 1rem; 
  margin-top:-0.5rem;
}

.card-price {
  font-size: 1.5rem;  
  font-weight: bold;
}
/*style card akhir*/

/*style icons awal*/
.icon-service{
width: 90px;
height: 90px;
border: solid #ffffff 2px ;
border-radius: 50%;
}
/*style icons akhir*/

.bg{
  margin-bottom: -2px;
}

/*style agar blockqute berada pada semestinya */
.card-blockquote {
  margin-top: -380px; /* Atur nilai negatif untuk menggeser ke atas */
  
  /*style agar blockqute berada pada semestinya akhir */
  
}
/*footer color*/
.footer-color{
  background-color: #5f5f5f !important;
}
.footer-color2{
  background-color: #2c2c2c !important;
}

/* style cate awal */
.card-cate a{
  color: black;
  text-decoration: none;
}

.card-cate{
transition: 0.3s ease;
}

.card-cate:hover{
  color: #ff4400;
  text-decoration: none;
  transform: scale(1.1);
}

.img-size{
  width: 100%;
  border-radius: 10px ;
}
/* style cate akhir */

/* style sticky top awal */
.sticky-top {
top: 52px; 
}
/* style sticky top akhir */

/* style rating text */
.card-rating{
  font-size: 0.8rem;
}

/* style add menu */
.bi-plus-circle-fill{
transition: 0.3s ease;
}

.bi-plus-circle-fill:hover {
color: #ff4400; 
}



.icon {
background-color: rgba(0, 255, 60, 0.838) ;
color: white;
border-radius: 50%;
padding-right: 4px;
padding-left: 4px;
padding-top: 0.5px;
font-size: 10px;
}

/* style card sidebar awal */
.sidebar{
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -400px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1050;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar.open{
right: 0;
}

.sidebar-close{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.cart-item{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
  margin-top: 1rem;
}

.individual-cart-item{
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  border-radius: 5px;
  color:  rgb(126, 122, 122);
  border: 1px solid rgb(172, 170, 170);
}

.cart-total{
  color: black;
}

.sidebar-footer{
  position: absolute;
  bottom: 10px;
  width: 88%;
}
.total-barang{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border-radius: 5px;
  border: 2px solid rgb(172, 170, 170);
}

.checkout-btn{
  width: 100%;
  margin-top: 2rem;
  background-color: #ff4400;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px ;
}

.remove-btn{
 color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #ff4400;
  padding: 2px 7px;
  cursor: pointer;
  margin-left: 5px;
}
/* style card sidebar akhir */

